<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>URL</key>
	<dict>
	<key>DesiTelly</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^desitelly\:\/\/.+</string>
			</array>
		</dict>
	<key>Cloudy</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://www.cloudy.ec</string>
				<string>^https?://www.cloudy.ec/.+</string>
				<string>^https?://www.cloudy.ec</string>
				<string>^https?://www.cloudy.ec/.+</string>
			</array>
		</dict>
	<key>Google</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://mediatv.me/.+</string>
			</array>
		</dict>
	<key>IRShare</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://irshare.net/.+</string>
			</array>
		</dict>
	<key>Playwire</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://config.playwire.com</string>
				<string>^https?://config.playwire.com/.+</string>
			</array>
		</dict>
	<key>PlayU</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://playu.net</string>
				<string>^https?://playu.net/.+</string>
				<string>^https?://playu.me</string>
				<string>^https?://playu.me/.+</string>
				<string>^https?://dramatime.me</string>
				<string>^https?://dramatime.me/.+</string>
				<string>^https?://dl1.playu.me</string>
				<string>^https?://dl1.playu.me/.+</string>
				<string>^https?://dl1.playu.net</string>
				<string>^https?://dl1.playu.net/.+</string>
			</array>
		</dict>
	<key>SpeedWatch</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://speedwatch.us/.+</string>
			</array>
		</dict>
	<key>TheVideoBee</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://thevideobee.to/.+</string>
			</array>
		</dict>
	<key>TunePK</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://tune.pk/.+</string>
				<string>^https?://embed.tune.pk/.+</string>
			</array>
		</dict>
	<key>Vidoza</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://vidoza.+</string>
			</array>
		</dict>
	<key>DailyTv</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://dailytv.co+</string>
			</array>
		</dict>
	<key>Vidshare</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://vidshare.us</string>
				<string>^https?://vidshare.us/.+</string>
			</array>
		</dict>
	<key>VidWatch</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://vidwatch.+</string>
				<string>^vidwatch\:\/\/.+</string>
			</array>
		</dict>
	<key>VKPrime</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://vkprime.+</string>
			</array>
		</dict>
	<key>VMG</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://www.vmg.host</string>
				<string>^https?://www.vmg.host/.+</string>
			</array>
		</dict>
	<key>WatchVideo</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://watchvideo.+</string>
				<string>^watchvideo\:\/\/.+</string>
			</array>
		</dict>
	<key>TvLogy</key>
		<dict>
			<key>URLPatterns</key>
			<array>
				<string>^https?://tvlogy.to/.+</string>
			</array>
		</dict>
	</dict>
</dict>
</plist>
